body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-container{
  min-height: 100vh;
}
main{
  flex: 1;
}
a{
  text-decoration: none;
}


.books{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.book{
  text-align: center;
  margin: 1rem;
}

.book img{
  height: 200px;
  width: 150px;
}

.book-info{
  /* padding: 1rem; */
}

.rating span{
  color: orange;
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }